
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'popins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --body-color:#E4E9F7;
    --sidebar-color:#FFF;
    --primary-color:#A00;
    --primary-color-light:#F6F5FF;
    --toggle-color:#DDD;
    --text-color:#707070;

    --tran-02: all 0.2s ease ;
    --tran-03: all 0.3s ease ;
    --tran-04: all 0.4s ease ;
    --tran-05: all 0.5s ease ;
    
}
body.dark{
    --body-color:#18191A;
    --sidebar-color:#242526;
    --primary-color:#A00;
    --primary-color-light:#3A3B3C;
    --toggle-color:#FFF;
    --text-color:#CCC;
}
body{
    height: 100vh;
    background: var(--body-color);
}
/*    sidebar    */
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}
.sidebar.close{
    width: 88px;
}
/*    resuabe css    */
.sidebar .text{
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
.sidebar .imagen{
    min-width: 60px;
    display: flex;
    align-items: center;
}
.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}
.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}
.sidebar li .icon,
.sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-02);

}
.sidebar header{
    position: relative;
}

.sidebar .imagen-text img{
    width: 50px;
    border-radius: 6px;
}

.sidebar header .imagen-text{
    display: flex;
    align-items: center;
}
header .imagen-text .header-text{
    display: flex;
    flex-direction: column;
}

.header-text .name{
    font-weight: 600;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
    transition: var(--tran-03);
}
.sidebar.close header .toggle{
    transform: translateY(-50%);
}
body.dark .sidebar header .toggle{
    transform: rotate(180deg);
    color: var(--text-color);
}
.sidebar .search-box{
    background: var(--primary-color-light);
    border-radius: 6px;
}
.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    background: var(--primary-color-light);
}

.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    transition: var(--tran-04);
}
.sidebar li a:hover{
    background: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode{
    position: relative;
    border-radius: 6px;
    background: var(--primary-color-light);
}
.menu-bar .mode .moon-sun{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i{
    transition: var(--tran-03);
    position: absolute;
}
.menu-bar .mode i.sun{
    opacity: 0;
}
body.dark .menu-bar .mode i.sun{
    opacity: 1;
}
body.dark .menu-bar .mode i.moon{
    opacity: 0;
}

.menu-bar .mode .toggle-switch{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    border-radius: 25px;
    height: 22px;
    width: 44px;
    background: var(--toggle-color);
}
.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--tran-03);
}
body.dark .switch::before{
    left: 20px;
}

.contenido{
    position: relative;
    height: 100vh;
    left: 250px;
    width: calc(100% - 250px);
    background: var(--body-color);
    transition: var(--tran-05);
}
.contenido .text{

    color: var(--text-color);
    padding: 8px 40px;
}
.sidebar.close ~ .contenido{
    left: 88px;
    width: calc(100% - 88px);
}